.pre-top {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    background: transparent;
}
h1 {
    font-size: 43px;
}


.l-items {
    color: #7B8490;
}

.r-items {
    display: flex;
}

.pre-item {
    color: #7B8490;
    margin-left: 30px;

}

i {
    margin-left: 5px;
    color: #7B8490;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.brand-logo {
    width: 130px;
}

.r-side {
    display: flex;
}

.nav-links ul{
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}  

.nav-links li.active {
    color: #547CEF;
}

.cta {
    margin-left: 30px;
}

.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 80px;
    outline: none;
    background-color: white;
    border: 1px solid transparent;
}

.navbar-toggler span {
    color: black;
    font-size: 20px;
    cursor: pointer;
    pointer-events: none;
}

[aria-controls="navbarDropdown"] {
    display: none;
}

.hero-section {
    background: linear-gradient(-189deg, #F4F6F8 60%, white 10%, transparent 10%);
    height: 500px;
  }

.hero-content {
    height: 500px;
        display: flex;
}

.left-content>h1 {
    font-size: 70px;
}

.left-content {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.left-content>p {
    font-size:25px;
}

.left-content  a {
    text-decoration: none;
}

.btn-line-wrapper {
    display: flex;
    align-items: center;
}

.learn-more {
    margin-left: 20px;
}

.play-icon {
    color: white;
}

.hero-btn {
    height: 30;
}
.img-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0 0 5px;
    transition: ease-in ;
    }

.icon img {
    width: 40px;
    height: 40px;
}

.icon.google {
    position: relative;
    top: 12%;
    left: -50%;
}

.icon.paypal {
    position: relative;
    top:40%;
    left: -60%;
}

.icon.gads {
    position: relative;
    top: 55%;
    left: -10%;
}

.icon.atlassian {
    position: relative;
    top: 20%;
    left: 30%;
}

.icon.weave {
    position: relative;
    top: 40%;
    left: -30%;
}

.icon.asana {
    position: relative;
    top: 12%;
    left: 90%;
}

.icon.gcal {
    position: relative;
    top: 65%;
    left: 60%;
}

.text {
    text-align: center;
}

.text p {
    color: #6A7786;
}
.card-container {
    display: flex;
    margin-top: 60px;
}

.card {
    flex-direction: column;
    display: flex;
    width: 350px;
    box-shadow: 16px 15px 15px -5px rgba(0,0,0,0.08);
    margin-left: 30px;
}

.card a {
    text-decoration: none;
    justify-self: end;
}
.card span {
    color: white;
    background-color: #00C9A6;
    padding: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.card a h4 {
    color: black;
}

.card a .feature-description {
    color: #7B8A98;
}
.card img {
    width: 50px;
}

.mockup-section {
    background-color: #F8FAFE;
    margin-bottom: 60px;
}

.mockup-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding-right: 0;
    padding-top: 75px;
    padding-bottom: 0px;
    /* height: 300px; */
    justify-content: space-between;
    /* position: relative; */
}

.left-content-mockup {
    margin-left: 20px;
    align-items: center;
}

.left-content-mockup .btn {
    width: fit-content;
}

.right-content-mockup {
    /* position: relative; */
    width: 50%;
    bottom: 0px;
}

.right-content-mockup img {
    width: 100%;
    box-shadow: -4px -5px 25px -2px rgba(0,0,0,0.09);
}

.btn-mockup {
    padding: 0;
}

.why-text {
    text-align: center;
}

.why-text p {
    color: #6A7786;
}

.why-section img {
    width: 100%;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ECF2FF ;
    border-radius: 50%;
}

.circle .dot {
    background-color: #4787FC;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.circle-container hr {
    height: 2px;
    width: 250px;
    margin-top: -4%;
}

hr {
    color: #7B8490;
}

.dot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    font-size: smaller;
}

br {
    width: 100px;
    height: 1px;
    border: solid 1px;
    color: black;
}

.hubspot .container {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.l-hubspot-img {
    position: relative;
    height: 700px;
    width: 50%;
}

.dots {
    position: absolute;
    bottom: 0;
    width: 200px;
}

.hubspot-woman {
    position: absolute;
    width: 500px;
    left: 50px;
    bottom: 55px;
}

.r-hubspot-content {
    margin-left: 120px;
}

.r-hubspot-content h4 {
    color: #6A7786;
}

.r-hubspot-content h3 {
    font-weight: 400;
}
.r-hubspot-content img {
    width: 100px;
}

.companies {
    text-align: center;
}

.logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.logos img {
    width: 60px;
}

.feature-grid img {
    width: 50px;
}

.pricing .container {
    text-align: center;
}

.pricing-heading {
    margin-bottom: 60px;
}

.pricing-card {
    width: 50%;
    text-align: left;
    max-width: 250px;
    margin-right: 150px;
    box-shadow: 16px 15px 15px -5px rgba(0,0,0,0.05);
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.feature {
    text-align: left;
}

.pricing {
    margin-bottom: 100px;
}

.pricing-content {
    display: flex;
    align-items: center;
}

.pricing-heading p {
    color: #75818F;
}

.pricing-content p {
    color: #6A7786;
}

.pricing-content strong {
    color: black;
}

.pricing-card hr {
    color: #E9EAF2;
}

.pricing-card .btn {
    width: fit-content;
}

.pricing-card h5 {
    color: #6A7786;
}

.hire-us {
    background-color: #20325B;
}

.hire-us .container{
    display: flex;
}

.left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 50%;
    margin-right: 50px;
}

.left-text h5 {
    color: #6A7786;
}

.left-text .profile-photos {
    display: flex;
    align-items: center;
}

.left-text .profile-photos img {
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.left-text .profile-photos .lady {
    width: 40px;
}

.form {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    padding: 50px;
}

input {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 150px;
}

#agree {
    width: 20px;
    color: #6A7786;
}

#agree span {
    text-decoration: underline;
}

.checkbox {
    width: 3px;
}

select {
    padding: 5px;
    background-color: white;
    width: 150px;
    margin-right: 10px;
}

textarea {
    margin-top: 10px;
    width: 315px;
    padding: 20px;
}

.checkbox-container {
    width: 350px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

footer img {
    width: 100px
}

footer a {
    text-decoration: none;
    color: #6A7786;
}

footer ul {
    margin-left: 0;
    padding-left: 0px;
}

footer ul li {
    margin-bottom: 20px;

}

footer .col-1, .col-5 {
    color: #6A7786;
}
footer .col-5 h5 {
    color: black;
}